# Ignore node_modules (for Node.js projects)
node_modules

# Ignore build or dist folders
build
dist

# Ignore logs
*.log

# Ignore temp files
*.tmp
*.swp

# Ignore OS / IDE files
.DS_Store
Thumbs.db
.vscode
*.env
.env.*
