# Ignore node modules
node_modules

# Ignore build folders
dist
build

# Ignore local environment files
.env
*.env

# Ignore logs
*.log

# Ignore Docker-related files if not needed
Dockerfile*
.dockerignore

# Ignore OS or editor files
.DS_Store
Thumbs.db
*.swp

# Ignore Git
.git
.gitignore
